:root {
  color: rgb(255 255 255 / 87%);
  font-size: 16px;
  font-weight: 400;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  line-height: 24px;
  color-scheme: light dark;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

a {
  color: #646cff;
  text-decoration: inherit;
  font-weight: 500;
}

a:hover,
a:focus {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media screen and (prefers-reduced-motion: reduce) {
  button {
    padding: .6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 8px;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: none;
  }
}

button {
  padding: .6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 8px;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color .25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
  }

  a:hover,
  a:focus {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
