# dependencies
node_modules/
/.pnp
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
.pnp.js

# testing
videos
/coverage

# production
build
dist
logs

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# MongoDB replica sets
mongodb_cluster

# Redis Volumes
redis_data
